<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome" />
    <title>淘客主页面</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/promoterEnter.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/skin/layer.css"/>
<link rel="stylesheet" type="text/css" href="__JS__/editor/themes/default/_css/umeditor.css"/>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/layer.js"></script>
<body>
<!--信息提示-->
<div class="mask">
    <div class="show">
        <div class="showMsg"></div>
        <div class="showBtn">确定</div>
    </div>
    <div class="showR">
        <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
        <div class="showRBtn">确定</div>
    </div>
    <div class="showW">
        <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
        <div class="showWBtn">确定</div>
    </div>
    <div class="showL">
        <img src="__IMG__/loading.png" alt="">
        <p>拼命加载中...</p>
    </div>
</div>
<div class="content">
    <div class="addNrMask">
        <div class="addNr">
            <img class="close" src="__IMG__/close.png" alt="">
            <div class="addNrTime"><input type="hidden"/></div>
            <script type="text/plain" id="myEditor" style="width:540px;height:160px;">请输入留言</script>
			<div class="typeN">
                <input type="radio" name="type" id="open" checked="checked" value="2"><label for="open">公开</label>
                <input type="radio" name="type" id="secret" value="1"><label for="secret">隐私</label>
            </div>
            <div class="addNrBtn">留言</div>
        </div>
        <div class="addNr1">
            <img class="close1" src="__IMG__/close.png" alt="">
            <div class="addNrTime1"><input type="hidden"/></div>
            <div class="addNrTheme"><input type="text" class="input" value="主题(对商品进行简单描述)" placeholder="主题(对商品进行简单描述)"/></div>
            <script type="text/plain" id="myEditor1" style="width:540px;height:160px;">请输入正式的买家群文案模板,支持图片+文字同时粘贴,输入框内暂不支持图片显示,但不影响实际效果</script>
            <div class="addNrBtn1">分享</div>
        </div>
    </div>
    <div class="contentShowDiv">
        <div class="contentShowDivTap">
            <div class="tap tapActive">采集群</div>
            <div class="tap">放单网站</div>
        </div>
        <div class="contentShowDivTable">
        </div>
        <div class="fixedBr">
            <div class="fixedBrImgtap" data-tips="商品统计数据榜"><a href="item_count.html"><img src="__IMG__/top.png" alt=""></a></div>
            <div class="fixedBrImgtap" data-tips="商品搜索"><a href="item_details.html"><img src="__IMG__/search.png" alt=""></a></div>
            <div class="fixedBrImgtap message" data-tips="留言"><img src="__IMG__/message.png" alt=""></div>
            <div class="fixedBrImgtap share" data-tips="好单分享"><img src="__IMG__/share.png" alt=""></div>
        </div>
    </div>
    <a href="enter.html"><div class="bottom bottomActive">主页面</div></a><a href="my_coupon.html"><div class="bottom ">我的优惠券</div></a><a href="../words/page.html"><div class="bottom  bottomLast">淘客交流</div></a>
</div>
</body>
<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/editor/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/editor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/editor/editor_api.js"></script>
<script type="text/javascript" src="__JS__/editor/lang/zh-cn/zh-cn.js"></script>
<script src="__JS__/promoterEnter.js" type="text/javascript" charset="utf-8"></script>
</html>