<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
    <title>商品统计数据榜</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" href="__CSS__/lib/chosen.min.css">
<link rel="stylesheet" href="__CSS__/ItemCountPage.css">
<link rel="stylesheet" type="text/css" href="__JS__/editor/themes/default/_css/umeditor.css"/>
<body>
    <!--信息提示-->
    <div class="mask">
        <div class="show">
            <div class="showMsg"></div>
            <div class="showBtn">确定</div>
        </div>
        <div class="showR">
            <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
            <div class="showRBtn">确定</div>
        </div>
        <div class="showW">
            <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
            <div class="showWBtn">确定</div>
        </div>
		<div class="showL">
            <img src="__IMG__/loading.png" alt="">
            <p>拼命加载中...</p>
        </div>
    </div>
    <div class="content">
		 <div class="addNrMask">
			<div class="addNr">
				<img class="close" src="__IMG__/close.png" alt="">
				<div class="addNrTime"><input type="hidden"/></div>
				<script type="text/plain" id="myEditor" style="width:540px;height:160px;">此处大家可以畅所欲言,吹牛逼,侃大山,晒收入,等等,暂不支持广告哦</script>
				<div class="typeN">
					<input type="radio" name="type" id="open" checked="checked" value="2"><label for="open">公开</label>
					<input type="radio" name="type" id="secret" value="1"><label for="secret">隐私</label>
				</div>
				<div class="addNrBtn">留言</div>
			</div>
			<div class="addNr1">
				<img class="close1" src="__IMG__/close.png" alt="">
				<div class="addNrTime1"><input type="hidden"/></div>
				<div class="addNrTheme"><input type="text" class="input" value="主题(对商品进行简单描述)" placeholder="主题(对商品进行简单描述)"/></div>
				<script type="text/plain" id="myEditor1" style="width:540px;height:160px;">此处请点击上方图片按钮上传图片,不支持直接文字+图片(发现的不给通过哟)!程序猿正在努力实现中....</script>
				<div class="addNrBtn1">分享</div>
			</div>
		</div>
        <div class="contentShowDiv">
            <div class="contentShowDivLeft">
                <div>
                    <span>商品排行榜<img src="__IMG__/tips.png" style="width:20px;position:relative;top:5px;" class="showTips" data-tips="红色标注部分表示该数据由于当前技术限制无法获取到精准数据,请大家酌情参考"/></span>
                    <select id="selectType">
                        <option value="0">领券量</option>
                        <option value="1">销量</option>
                        <option value="2">转化率</option>
                    </select>
					<select id="selectTime">
						<option value="0">昨天</option>
						<option value="1">上周</option>
					</select>
                </div>
                <div class="showDivLeftUl showDivLeftUlHead">
                    <ul>
                        <li>排序</li>
                        <li>名称</li>
                        <li>领券量</li>
                        <li>销量</li>
                        <li>转化率</li>
                    </ul>
                </div>
                <div class="showDivLeftDiv showDivLeftUl showDivLeftUlContent">
                </div>
            </div>
            <div class="contentShowDivRight">
                <h2>今日商品总览</h2>
                <ul class="showDivRightUl">
                    <li>
                        <div>新券个数</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>商品总量</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>总计销量</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>平均转化率</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>平均佣金比例</div>
                        <div>【暂无数据】</div>
                    </li>
                </ul>
            </div>
        </div>
		<div class="fixedBr">
            <div class="fixedBrImgtap" data-tips="商品统计数据榜"><a href="../Promoter/item_count.html"><img src="__IMG__/top.png" alt=""></a></div>
            <div class="fixedBrImgtap" data-tips="商品搜索"><a href="../Promoter/item_details.html"><img src="__IMG__/search.png" alt=""></a></div>
            <!--<div class="fixedBrImgtap message" data-tips="留言"><img src="__IMG__/message.png" alt=""></div>-->
            <div class="fixedBrImgtap share" data-tips="好单分享"><img src="__IMG__/share.png" alt=""></div>
        </div>
        <a href="enter.html"><div class="bottom">主页面</div></a><a href="my_coupon.html"><div class="bottom  bottomActive">我的优惠券</div></a><a href="../words/page.html"><div class="bottom  bottomLast">淘客交流</div></a>
    </div>
</body>
<script src="__JS__/lib/jquery.min.js"></script>
<script src="__JS__/lib/chosen.jquery.min.js"></script>
<script src="__JS__/lib/jquery.nicescroll.min.js"></script>
<script src="__JS__/lib/layer.min.js"></script>
<script type="text/javascript" src="__JS__/editor/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/editor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/editor/editor_api.js"></script>
<script type="text/javascript" src="__JS__/editor/lang/zh-cn/zh-cn.js"></script>
<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.waypoints.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.countup.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/ItemCountPage.js" type="text/javascript" charset="utf-8"></script>
</html>