<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome" />
    <title>商户主页面</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/my_coupon.css"/>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
<body>
<!--信息提示-->
<div class="mask">
    <div class="show">
        <div class="showMsg"></div>
        <div class="showBtn">确定</div>
    </div>
    <div class="showR">
        <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
        <div class="showRBtn">确定</div>
    </div>
    <div class="showW">
        <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
        <div class="showWBtn">确定</div>
    </div>
    <div class="showL">
        <img src="__IMG__/loading.png" alt="">
        <p>拼命加载中...</p>
    </div>
</div>
<div class="content">
    <div class="contentShowDiv">
        <div class="contentShowDivTop">
            <div class="contentShowDivTopAdd">
                <div class="addInput"><input type="text" class="input" id="couponLink" value="请输入优惠券链接" placeholder="请输入优惠券链接"></div>
                <div class="addInput"><input type="text" class="input" id="couponNum" value="请输入领取总量" placeholder="请输入领取总量"></div>
                <div class="addBtn">上传新优惠券</div>
            </div>
            <div class="contentShowDivTopSearch">
                <div class="searchInput"><input type="text" class="input" value="请输入商品名称" id="keywords" placeholder="请输入商品名称"></div>
                <div class="searchBtn">查询</div>
            </div>
        </div>
        <div class="contentShowDivBottom">
            <table>
                <tr>
                    <td>优惠券金额</td>
                    <td>状态</td>
                    <td>任务结束时间</td>
                    <td>已领取</td>
                    <td>商品名称</td>
                    <td>销量</td>
                    <td>转化率</td>
                    <td>任务完成率</td>
                </tr>
                <tr>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                </tr>
            </table>
        </div>
    </div>
    <a href="enter.html"><div class="bottom">主页面</div></a><a href="my_coupon.html"><div class="bottom bottomActive">我的优惠券</div></a>
</div>
</body>
<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/my_coupon.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
        $(".contentShowDivBottom").niceScroll({
            cursorcolor:"#00B2EE",
            cursoropacitymax:1,
            hwacceleration:true,
            touchbehavior:false,
            sensitiverail:true,
            hidecursordelay:1000,
            bouncescroll:true,
            cursorwidth:"5px",
            cursorborder:"0",
            cursorborderradius:"5px",
            spacebarenabled:true,
        });
        $('.contentShowDivTop .input').on('focus',function () {
            if($(this).val() == $(this).attr('placeholder')){
                $(this).val('')
            }
            $(this).parent('div').css({'borderColor':'#00B2EE','boxShadow':'0 0 5px #00B2EE','transition':'all .3s'})
        })
        $('.contentShowDivTop .input').on('blur',function () {
            if($(this).val().length == 0){
                $(this).val($(this).attr('placeholder'))
            }
            $(this).parent('div').css({'borderColor':'#E2E2E2','boxShadow':'none'})
        })
		$.ajax({
			type:'post',
			url:'/promoter/search_item',
			data:{promoter_id:'6'},
			beforeSend:function(){$('.mask,.showL').show();},
			success:function(data){
				if(data.status == 1){
					$('.mask,.showL').hide();
					var str = '<table><tr><td>优惠券金额</td><td>状态</td><td>任务结束时间</td><td>已领取</td><td>商品名称</td><td>销量</td><td>转化率</td><td>任务完成率</td></tr>';
					$(data.data).each(function(i,e){
						str +='<tr><td>'+e.price+'元</td><td>'+e.status+'</td><td>'+e.end_time+'</td><td>'+e.take_num+'</td><td>'+e.item_name+'</td><td>'+e.item_sale+'</td><td>'+e.roc+'%</td><td>'+e.deal_num+'%</td></tr>'
					})
					str +='</table>';
					$('.contentShowDivBottom').html(str)
				}else{
					$('.showL').hide();
					alertWMsg(data.msg);
				}
			},
			error:function(){
				$('.showL').hide();
				alertWMsg('连接超时,请稍后再试');
			}		
		})
    })
	$(document).on('click','.addBtn',function(){
		window.couponLink = $('#couponLink').val();
		window.couponNum = $('#couponNum').val();
		if(couponLink.length == 0){
			return alertMsg('优惠券链接不能为空')
		}else if(!checkCouponUrl(couponLink)){
			return alertMsg('您上传的优惠券链接中必须存在 "sellerId"和"activityId" ')		
		}
		if(couponNum.length == 0){
			return alertMsg('领取数量不能为空')
		}else if(!ShopId(couponNum)){
			return alertMsg('领取数量只能为大于0的数字的组合')
		}
		$.ajax({
			type:'post',
			url:'/promoter/new_task',
			data:{promoter_id:'6',coupon_link:couponLink,taks_num:couponNum},
			beforeSend:function(){$('.mask,.showL').show();},
			success:function(data){
				$('.showL').hide();
				if(data.status == 1){					
					alertRMsg(data.msg);
				}else{
					alertWMsg(data.msg);
				}
			},
			error:function(){
				$('.showL').hide();
				alertWMsg('连接超时,请稍后再试');
			}
			
		})
	})
	$(document).on('click','.searchBtn',function(){
		window.key = $('#keywords').val();
		if(couponLink.length == 0){
			return alertMsg('商品名称不能为空')
		}
		$.ajax({
			type:'post',
			url:'/promoter/search_item',
			data:{item_name:key},
			beforeSend:function(){$('.mask,.showL').show();},
			success:function(data){
					$('.mask,.showL').hide();
				if(data.status == 1){
					var str = '<table><tr><td>优惠券金额</td><td>状态</td><td>任务结束时间</td><td>已领取</td><td>商品名称</td><td>销量</td><td>转化率</td><td>任务完成率</td></tr>';
					$(data.data).each(function(i,e){
						str +='<tr><td>'+e.price+'元</td><td>'+e.status+'</td><td>'+e.end_time+'</td><td>'+e.take_num+'</td><td>'+e.item_name+'</td><td>'+e.item_sale+'</td><td>'+e.roc+'%</td><td>'+e.deal_num+'%</td></tr>'
					})
					str +='</table>';
					$('.contentShowDivBottom').html(str);						
				}else{
					$('.showL').hide();
					alertWMsg(data.msg);
				}
			},
			error:function(){
				$('.showL').hide();
				alertWMsg('连接超时,请稍后再试');
			}
			
		})
	})
</script>
</html>