.mask{position: fixed;background-color: rgba(0,0,0,0.4);width: 100%;height: 100%;top: 0;left: 0;display: none;z-index: 99999999999999999999}
.show,.showR,.showW{background-color: #fff;width: 400px;box-sizing:border-box;text-align: center;position: fixed;left: 50%;margin-left: -200px;font-size: 20px;line-height: 25px;border-radius:10px;top: -1000px;overflow: hidden;z-index: 999999999999999999999}
.showMsg,.showRMsg,.showWMsg{border-bottom: 1px solid #E2E2E2;padding: 20px;}
.showRMsg div,.showWMsg div{width: 50px;float: left;margin-right: 20px;}
.showRMsg p,.showWMsg p{width:280px;float: left;padding-top: 10px;}
.showRMsg div img,.showWMsg div img {width: 50px;vertical-align: middle;}
.showBtn,.showRBtn,.showWBtn{cursor: pointer;padding: 20px 0;}
.showBtn:hover{background-color: #00B2EE;color: #fff;}
.showRBtn:hover{background-color: #32CD32;color: #fff;}
.showWBtn:hover{background-color: #FF3030;color: #fff;}
.content{width: 800px;height: 540px;border: 1px solid #e2e2e2;box-sizing:border-box;padding: 40px;margin: 20px auto}
