.content{position: relative;padding: 0;}
.contentShowDiv{height: 490px;box-sizing: border-box}
.layui-layer-content {height:auto !important}
.contentShowDivLeft{width: 500px;float: left;height: 100%}
.contentShowDivLeft>div:first-child {border-bottom: 1px solid #E2E2E2;line-height: 100%;padding: 30px 0 10px}
.contentShowDivLeft>div:first-child>span{font-size: 50px;display:inline-block;text-indent: 140px;}
.showDivLeftUl ul{height: 30px;}
.showDivLeftUl ul li{list-style: none;width: 75px;text-align: center;height: 30px;line-height: 30px;float: left;font-size: 16px}
.showDivLeftUl ul li:nth-child(2){width:200px}
.showDivLeftUlHead ul li{background-color: #EE4000;color: #fff}
.showDivLeftUl ul li:last-child{margin-right: 0}
.showDivLeftUlContent{width: 500px;height: 370px;overflow: hidden}
.showDivLeftUlContent ul{margin:6px 0;}
.showDivLeftUlContent ul li a {cursor:pointer}
#selectType,#selectTime{width: 80px;height:24px;}
#selectTime,#selectTime_chosen{display:none !important}
.contentShowDivRight{width: 297px;float: left;border-left: 1px solid #E2E2E2;;height: 100%;text-align: center}
.contentShowDivRight h2{font-size: 30px;text-align: center;padding: 25px 0;}
.showDivRightUl{list-style: none;text-align: left;padding: 2px 40px 0 20px;}
.showDivRightUl li{margin-bottom: 22px;background-color: #66CD00;box-shadow: 2px 3px 3px 3px rgba(0,0,0,0.3)}
.showDivRightUl li div {display: inline-block;font-size: 16px;padding: 25px 0;}
.showDivRightUl li div:first-child{width: 120px;text-indent: 20px}
.showDivRightUl li div:last-child{width: 110px;text-align:center;}
.bottom{width: 33.33%;height: 48px;text-align: center;line-height: 50px;font-size: 30px;display: inline-block;cursor: pointer;color: #666;background-color: #eee;box-sizing: border-box;border-right: 1px solid #e2e2e2;}
.bottomActive{color: #fff;background-color: #00B2EE;}
.bottomLast{border-right: none}
.bottomSilde {width: 33.5%;position: absolute;right: 0;bottom: 48px;border: 1px solid #e2e2e2;height: 96px;display: none;border-right:none;}
.bottomSilde a:hover{ text-decoration: none}
.bottomSilde div:first-child{border-bottom: 1px solid #e2e2e2}
.red{color:red}
