.content ul li{list-style-type: none;margin-bottom: 13px;font-size: 16px;}
.content ul li input{height: 25px;}
.content ul li .input{text-indent: 10px;border: none;}
.content ul li div {display: inline-block;}
.content ul li div:nth-child(2){border-radius: 5px;border: 1px solid #E2E2E2;padding: 1px;}	
.content ul li div:nth-child(3){text-indent: 10px;font-size: 12px;}	
.lititle{width: 100px;text-align: right;}
.content ul li:nth-child(4) #sendcode{display:inline-block}
.content ul li:nth-child(4) div:last-child{font-size:13px;display:inline-block;width:250px;vertical-align:middle;margin-left:20px}
.content ul li:nth-child(4) div:last-child a{text-decoration:underline;color:#009ACD;cursor:pointer}
#sintroduce {vertical-align: text-top;}
.sres,#sendcode{font-size: 20px;padding: 10px 20px;background-color: #00B2EE;color: #fff;display: block;margin: 0 auto;border-radius: 8px;cursor: pointer;}
#sendcode{display: inline-block;font-size: 12px;padding: 8px 10px;border-radius: 5px;margin-left: 10px;}
#sintroduce{padding: 10px;}