<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
    <title>商品统计数据榜</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/skin/layer.css"/>
<link rel="stylesheet" href="__CSS__/ItemCountPage.css">
<script type="text/javascript" charset="utf-8">
	window.onload=function(){
		$('.mask').show();
		$('.showL').show();
	}
</script>
<body>
    <!--信息提示-->
    <div class="mask">
        <div class="show">
            <div class="showMsg"></div>
            <div class="showBtn">确定</div>
        </div>
        <div class="showR">
            <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
            <div class="showRBtn">确定</div>
        </div>
        <div class="showW">
            <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
            <div class="showWBtn">确定</div>
        </div>
		<div class="showL">
            <img src="__IMG__/loading.png" alt="">
            <p>拼命加载中...</p>
        </div>
    </div>
    <div class="content">
        <div class="contentShowDiv">
            <div class="contentShowDivLeft">
                <div>
                    <span>商品排行榜<img src="__IMG__/tips.png" style="width:20px;position:relative;top:5px;" class="showTips" data-tips="红色标注部分表示该数据由于当前技术限制无法获取到精准数据,请大家酌情参考"/></span>
                    <select id="selectType">
                        <option value="0">领券量</option>
                        <option value="1">销量</option>
                        <option value="2">转化率</option>
                    </select>
					<select id="selectTime">
						<option value="0">昨天</option>
						<option value="1">上周</option>
					</select>
                </div>
                <div class="showDivLeftUl showDivLeftUlHead">
                    <ul>
                        <li>排序</li>
                        <li>名称</li>
                        <li>领券量</li>
                        <li>销量</li>
                        <li>转化率</li>
                    </ul>
                </div>
                <div class="showDivLeftDiv showDivLeftUl showDivLeftUlContent">
                </div>
            </div>
            <div class="contentShowDivRight">
                <h2>今日商品总览</h2>
                <ul class="showDivRightUl">
                    <li>
                        <div>新券个数</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>商品总量</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>总计销量</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>平均转化率</div>
                        <div>【暂无数据】</div>
                    </li>
                    <li>
                        <div>平均佣金比例</div>
                        <div>【暂无数据】</div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="../seller/store_page.html"><div class="bottom">店铺列表</div></a><a href="../seller/enter.html"><div class="bottom bottomActive">排行榜</div></a><div class="bottom slideShowBtn bottomLast">行业交流<span>99+</span></div>
        <div class="bottom bottomSilde">
            <div><a href="../seller/shares.html">交流列表</a></div>
            <div><a href="../seller/myWords.html">我的留言</a></div>
        </div>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/layer.js"></script>
<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/enter.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.waypoints.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/jquery.countup.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/ItemCountPage.js" type="text/javascript" charset="utf-8"></script>
</html>