<!-- 选择注册身份页面 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
		<title>用户选择注册页面</title>	
	</head>
	<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
	<body>
		<div class="content">
			<div class="left">
				<a href="/UserInfo/seller_register">商户</a>
				<ul>
					<li>注册商家必须有一家及以上店铺，淘宝天猫均可</li>
					<li>淘友记不是数据的生产者，只是数据的搬运工</li>
					<li>实时动态监控同行淘客数据，让运营不再蒙蔽双眼</li>				
				</ul>
			</div>
			<div class="right">
				<a href="/UserInfo/promoter_register">淘宝客</a>
				<ul>
					<li>注册淘客必须本身是一名淘客，否则淘友记将有权冻结账号</li>
					<li>总结自己、发现自己、挖掘自己，一切用数据说</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
</html>
