<!-- 商户注册页 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
		<title>商户注册</title>
	</head>
	<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/seller.css"/>
	<body>
		<div class="mask">
			<div class="show">
				<div class="showMsg"></div>
				<div class="showBtn">确定</div>
			</div>
			<div class="showR">
				<div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
				<div class="showRBtn">确定</div>
			</div>
			<div class="showW">
				<div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
				<div class="showWBtn">确定</div>
			</div>
		</div>
		<div class="content">
			<ul>
				<li><div class="lititle">用户名：</div><div><input type="text"class="input" id="sname" /></div><div>用户名不可以存在特殊字符</div></li>
				<li><div class="lititle">手机号码：</div><div><input type="text"class="input" id="stel" /></div><div>请输入11位规范手机号码(可空)</div></li>
				<li><div class="lititle">QQ号码：</div><div><input type="text"class="input" id="sqq" /></div><div>淘客用来联系您的主要方式</div></li>
				<li><div class="lititle">邮箱：</div><div><input type="text"class="input" id="semail" /></div><button id="sendcode">点击发送验证码</button></li>
				<li><div class="lititle">验证码：</div><div><input type="text"class="input" id="sidcode" /></div></li>
				<li><div class="lititle">密码：</div><div><input type="password"class="input" id="spwd" /></div><div>请填写数字与字母组合</div></li>
				<li><div class="lititle">确认密码：</div><div><input type="password"class="input" id="sspwd" /></div><div>务必保证两次输入的密码一致</div></li>
				<li><div class="lititle">自我简介：</div><div><textarea class="input" rows="5" cols="30" id="sintroduce"></textarea></div></li>
			</ul>
			<button class="sres">提交注册</button>
		</div>
		<input name="pic" type='file' class="img_ipt" accept="img/*">
		<img class="theimg" src="">
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="__JS__/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/seller.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/jquery-form.js" type="text/javascript" charset="utf-8"></script>
</html>


