<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
    <title>商户主页面</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/enter.css"/>
<body>
    <!--信息提示-->
    <div class="mask">
        <div class="show">
            <div class="showMsg"></div>
            <div class="showBtn">确定</div>
        </div>
        <div class="showR">
            <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
            <div class="showRBtn">确定</div>
        </div>
        <div class="showW">
            <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
            <div class="showWBtn">确定</div>
        </div>
    </div>
    <div class="content">
        <div class="rankShowDiv">
            <a href="../ItemCount/page.html">
                <div class="text3D">商品统计数据榜</div>
            </a>
            <a href="sellerEnter2.html">
                <div class="text3D">淘客统计数据榜</div>
            </a>
            <a href="../ItemDetail/page.html">
                <div class="text3D">同行最新数据</div>
            </a>
        </div>
        <a href="store_page.html"><div class="bottom">店铺列表</div></a><a href="enter.html"><div class="bottom bottomActive">排行榜</div></a>
    </div>
</body>
</html>