<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome" />
    <title>好单分享</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" type="text/css" href="__JS__/editor/themes/default/_css/umeditor.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/wordsPage.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/kkpager_blue.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/skin/layer.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/layer.js"></script>
<script type="text/javascript" src="__JS__/editor/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/editor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/editor/editor_api.js"></script>
<script type="text/javascript" src="__JS__/editor/lang/zh-cn/zh-cn.js"></script>
<script src="__JS__/kkpager.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
.bottomSilde {width: 33.4%;position: absolute;right: 0;bottom: 48px;border: 1px solid #e2e2e2;height: 96px;display: none;border-right:none !important;}
.bottomSilde a:hover{ text-decoration: none}
.bottomSilde div:first-child{border-bottom: 1px solid #e2e2e2}
</style>	
<body>
<!--信息提示-->
<div class="mask">
    <div class="show">
        <div class="showMsg"></div>
        <div class="showBtn">确定</div>
    </div>
    <div class="showR">
        <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
        <div class="showRBtn">确定</div>
    </div>
    <div class="showW">
        <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
        <div class="showWBtn">确定</div>
    </div>
    <div class="showL">
        <img src="__IMG__/loading.png" alt="">
        <p>拼命加载中...</p>
    </div>
</div>
<div class="content">
    <div class="GoodsDetailMask">
        <div class="GoodsDetailDiv">
            <div class="GoodsDetailDivClose">
                <img src="__IMG__/close.png" alt="">
            </div>
            <div class="GoodsDetailDivShow">
                <h2>暂无数据</h2>
                <div class="GoodsDetailDivShowD">
                   暂无数据
                </div>
                <div class="GoodsDetailDivShowCopy" data-clipboard-target=".GoodsDetailDivShowD">一键复制</div>
                <div class="GoodsDetailDivShowPraise" haspraise = '0'>点赞</div>
				<div class="GoodsDetailDivShowbad" haspraise = '0'>差评</div>
            </div>
        </div>
    </div>
    <div class="mesMore">
        <img src="__IMG__/msgMore.png" alt="">
    </div>
    <div class="mesDiv">
       <!-- <div class="mesNew">新增<span>6</span>条,<a>点击查看</a></div> -->
        <div class="mesDivclose">
            <img src="__IMG__/msgDivClose.png" alt="">
        </div>
        <h2>最新留言<div class="addN"><img src="__IMG__/addMsg.png" alt=""></div></h2>
        <div class="mesDivCon">
        </div>
        <p>tips:点击最新留言后面的图标即可添加新留言<a href="myWords.html">我的留言</a></p>
    </div>
    <div class="addNrMask">
        <div class="addNr">
            <img class="close" src="__IMG__/close.png" alt="">
            <div class="addNrTime"><input type="hidden"/></div>
            <script type="text/plain" id="myEditor" style="width:540px;height:160px;">请输入留言</script>
            <div class="typeN">
                <input type="radio" name="type" id="open" checked="checked" value="2"><label for="open">公开</label>
                <input type="radio" name="type" id="secret" value="1"><label for="secret">隐私</label>
            </div>
            <div class="addNrBtn">留言</div>
        </div>
        <div class="addNr1">
            <img class="close1" src="__IMG__/close.png" alt="">
            <div class="addNrTime1"><input type="hidden"/></div>
            <div class="addNrTheme"><input type="text" class="input" value="主题(对商品进行简单描述)" placeholder="主题(对商品进行简单描述)"/></div>
            <script type="text/plain" id="myEditor1" style="width:540px;height:160px;">请输入正式的买家群文案模板,不支持图片+文字同时粘贴,图片只支持上传</script>
            <div class="addNrBtn1">分享</div>
        </div>
    </div>
    <div class="contentShowDiv">
        <div class="contentShowDivTap">好单分享 <a href="myShare.html">我的分享</a></div>
        <div class="contentShowDivTable">
            <table>
                <tr>
                    <td>淘客名</td>
                    <td>商品描述</td>
                    <td>内容</td>
                    <td>已赞</td>
                    <td>已复制</td>
                    <td>差评</td>
                    <td>时间</td>
                </tr>
                <tr>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                </tr>
            </table>
        </div>
		<div id="kkpager"></div>
        <div class="fixedBr">
            <div class="fixedBrImgtap" data-tips="商品统计数据榜"><a href="../ItemCount/page.html"><img src="__IMG__/top.png" alt=""></a></div>
            <div class="fixedBrImgtap" data-tips="商品搜索"><a href="../ItemDetail/page.html"><img src="__IMG__/search.png" alt=""></a></div>
            <div class="fixedBrImgtap message" data-tips="留言"><img src="__IMG__/message.png" alt=""></div>
            <div class="fixedBrImgtap share" data-tips="好单分享"><img src="__IMG__/share.png" alt=""></div>
        </div>
    </div>
    <a href="store_page.html"><div class="bottom">店铺列表</div></a><a href="enter.html"><div class="bottom">排行榜</div></a><div class="bottom slideShowBtn bottomLast bottomActive">行业交流<span>99+</span></div>
        <div class="bottom bottomSilde">
            <div><a href="shares.html">交流列表</a></div>
            <div><a href="myWords.html">我的留言</a></div>
        </div>
</div>
</body>
<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/enter.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/sellerShares.js"></script>
</html>