<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1" />
    <title>同行最新数据榜</title>
</head>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/skin/layer.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/ItemDetailPage.css"/>
<body>
    <!--信息提示-->
    <div class="mask">
        <div class="show">
            <div class="showMsg"></div>
            <div class="showBtn">确定</div>
        </div>
        <div class="showR">
            <div class="showRMsg clearfix"><div><img src="__IMG__/success.png"/></div><p></p></div>
            <div class="showRBtn">确定</div>
        </div>
        <div class="showW">
            <div class="showWMsg clearfix"><div><img src="__IMG__/failed.png"/></div><p></p></div>
            <div class="showWBtn">确定</div>
        </div>
		<div class="showL">
            <img src="__IMG__/loading.png" alt="">
            <p>拼命加载中...</p>
        </div>
    </div>
    <div class="content">
        <div class="contentShowDiv">
            <div>
                <div><input type="text" id="goodsSearch"></div>
                <div class="searchById">按商品链接查询</div>
                <div class="searchByKey">关键词查询</div>
            </div>
        </div>
        <div class="contentAddDiv"></div>
        <div class="contentAddDiv1">
            <div class="goodsInfo">
                <ul>
                    <li class='showGoodsName'>
                        <div>商品名称:</div>
                        <div>暂无数据</div>
                    </li>
                    <li>
                        <div>当前销量:</div>
                        <div>暂无数据</div>
                    </li>
                    <li>
                        <div>佣金比例:</div>
                        <div>暂无数据</div>
                    </li>
                    <li>
                        <div>参与活动天数:</div>
                        <div>暂无数据</div>
                    </li>
                    <li>
                        <div>已领优惠券:</div>
                        <div>暂无数据</div>
                    </li>
                    <li>
                        <div>券转化率:</div>
                        <div>暂无数据</div>
                    </li>
                </ul>
            </div>
            <div class="goodsMore">
                <div class="goodsMoreLeft">
                    <h2>该商品优惠券</h2>
					<div class='goodsMoreLeftTable'>
						<table>
							<tr>
								<td>券金额</td>
								<td>领取数</td>
								<td>转化率</td>
							</tr>
							<tr>
								<td>暂无数据</td>
								<td>暂无数据</td>
								<td>暂无数据</td>
							</tr>							
						</table>
					</div>	
                </div>
                <div class="goodsMoreRight">
                    <h2>该商品出现的采集群</h2>
					<div class='goodsMoreRightTable'>					
						<table>
							<tr>
								<td>群名称</td>
								<td>时间</td>
								<td>券金额</td>
							</tr>
							<tr>
								<td>暂无数据</td>
								<td>暂无数据</td>
								<td>暂无数据</td>
							</tr>							
						</table>						
					</div>	
                </div>
            </div>
        </div>
        <div class="contentAddDiv2">
            <div class="goodsInfo1">
                <ul>
                    <li>
                        <div>最高佣金比例:</div>
                        <div><div>暂无数据</div><div>暂无数据</div></div>
                    </li>
                    <li>
                        <div>最低佣金比例:</div>
                        <div><div>暂无数据</div><div>暂无数据</div></div>
                    </li>
                    <li>
                        <div>平均比例:</div>
                        <div>暂无数据</div>
                    </li>
                    <li>
                        <div>最高价格:</div>
                        <div><div>暂无数据</div><div>暂无数据</div></div>
                    </li>
                    <li>
                        <div>最低价格:</div>
                        <div><div>暂无数据</div><div>暂无数据</div></div>
                    </li>
                    <li>
                        <div>券转化率:</div>
                        <div>暂无数据</div>
                    </li>
                </ul>
            </div>
            <div class="goodsMore1">
                <table>
                    <tr>
                        <td>商品名称</td>
                        <td>佣金比例</td>
                        <td>价格</td>
                    </tr>
                    <tr>
                        <td>暂无数据</td>
                        <td>暂无数据</td>
                        <td>暂无数据</td>
                    </tr>                    
                </table>
            </div>
        </div>
         <a href="../seller/store_page.html"><div class="bottom">店铺列表</div></a><a href="../seller/enter.html"><div class="bottom bottomActive">排行榜</div></a><div class="bottom slideShowBtn bottomLast">行业交流</div>
        <div class="bottom bottomSilde">
            <div><a href="../seller/shares.html">交流列表</a></div>
            <div><a href="../seller/myWords.html">我的留言</a></div>
        </div>
    </div>
	问题:此处id搜索应改为按链接搜索
	问题:商品名称下应附上商品超链接
	问题:搜索时,如果出错没有错误信息
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/layer.js"></script>
<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/ItemDetailPage.js" type="text/javascript" charset="utf-8"></script>
</html>